<h1 class="text-center text-danger font-weight-bold">SIGN IN</h1>
<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
                <label for="userid">User Id</label>
                <input type="text" [(ngModel)]="user.userid" class="form-control" id="userid" name="userid"
                    placeholder="Enter your Userid" required #userid="ngModel">
            </div>
            <div *ngIf="userid.invalid && (userid.dirty || userid.touched)" class="alert alert-danger">
                <div *ngIf="userid.errors.required">
                    User id is required.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password"
                    placeholder="Enter your Password" required
                    #password="ngModel">
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors.required">
                    Password is required.
                </div>
            </div>
            <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>